<div th:fragment="script">
    <script th:src="@{/users/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/users/assets/js/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/users/assets/js/plugins.js}"></script>
    <script th:src="@{/users/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/users/assets/js/heandline.js}"></script>
    <script th:src="@{/users/assets/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/users/assets/js/magnific-popup.min.js}"></script>
    <script th:src="@{/users/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/users/assets/js/wow.min.js}"></script>
    <script th:src="@{/users/assets/js/countdown.min.js}"></script>
    <script th:src="@{/users/assets/js/odometer.min.js}"></script>
    <script th:src="@{/users/assets/js/viewport.jquery.js}"></script>
    <script th:src="@{/users/assets/js/nice-select.js}"></script>
    <script th:src="@{/users/assets/js/main.js}"></script>
</div>