<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/users/common/head :: head"></head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->

    <!-- ==========Header-Section========== -->
    <header th:replace="/users/common/menu :: menu"></header>
    <!-- ==========Header-Section========== -->

    <!-- ==========Banner-Section========== -->
    <section class="banner-section">
        <div class="banner-bg bg_img bg-fixed" th:data-background="@{/users/assets/images/banner/banner02.jpg}"></div>
        <div class="container">
            <div class="banner-content">
                <h1 class="title bold">Đặt vé <span class="color-theme">xem phim</span></h1>
                <p>Đặt trước vé, xem trailer, đọc bài đánh giá và hơn thế nữa</p>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Ticket-Search========== -->

    <!-- ==========Ticket-Search========== -->

    <!-- ==========Movie-Section========== -->
    <section class="movie-section padding-top padding-bottom">
        <div class="container">
            <div class="row flex-wrap-reverse justify-content-center">
                <div class="col-lg-9 mb-50 mb-lg-0">
                    <div class="filter-tab tab">
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="movie-area mb-10">
                                    <div class="movie-list" th:each="cinema : ${cinema}">
                                        <div class="movie-thumb c-thumb">
                                            <a href="movie-details-2.html" class="w-100 bg_img h-100"
                                                th:data-background="@{/users/assets/images/movie/xem.png}">
                                                <img class="d-sm-none" th:src="@{/users/assets/images/movie/xem.png}"
                                                    alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h2 class="title">
                                                [[${cinema.name}]]
                                            </h2>


                                            <div class="release">
                                                <span style="color: #31d7a9;">Địa chỉ : </span> [[${cinema.address}]]
                                            </div>
                                            <div class="release">
                                                <span style="color: #31d7a9;">Thông tin đánh giá: </span>
                                                [[${cinema.description}]]
                                            </div>

                                            <div class="book-area">
                                                <div class="book-ticket">
                                                    <div class="react-item">
                                                        <a href="#0">
                                                            <div class="thumb">
                                                                <img th:src="@{/users/assets//images/icons/heart.png}"
                                                                    alt="icons">
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="react-item mr-auto">
                                                        <a
                                                            th:href="@{'/show/schedule?movieId='+${movieId}+'&cinemaId='+${cinema.id}}">
                                                            <div class="thumb">
                                                                <img th:src="@{/users/assets//images/icons/book.png}"
                                                                    alt="icons">
                                                            </div>
                                                            <span style="color: #31d7a9;">Chọn rạp và tiếp tục</span>
                                                        </a>
                                                    </div>
                                                    <div class="react-item">
                                                        <a href="#0" class="popup-video">
                                                            <div class="location-icon">
                                                                <img th:src="@{/users/assets//images/icons/play-button.png}"
                                                                    alt="icons">
                                                            </div>
                                                            <span>Xem review rạp</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PAGINATION -->
                        <div class="pagination-area text-center">
                            <a href="#0"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                            <a href="#0">1</a>
                            <a href="#0">2</a>
                            <a href="#0" class="active">3</a>
                            <a href="#0">4</a>
                            <a href="#0">5</a>
                            <a href="#0"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Movie-Section========== -->

    <!-- ==========Newslater-Section========== -->

    <!-- ==========Newslater-Section========== -->


    <footer th:replace="/users/common/footer :: footer"></footer>
    <!-- ==========Newslater-Section========== -->

    <head th:replace="/users/common/js :: script"></head>
</body>

</html>