<div th:fragment="script">
    <script th:src="@{admin/addons/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{admin/addons/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{admin/addons/assets/js/sidebarmenu.js}"></script>
    <script th:src="@{admin/addons/assets/js/app.min.js}"></script>
    <script th:src="@{admin/addons/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
    <script th:src="@{admin/addons/assets/libs/simplebar/dist/simplebar.js}"></script>
    <script th:src="@{admin/addons/assets/js/dashboard.js}"></script>

    <script th:src="@{admin/addons/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{admin/addons/assets/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{admin/addons/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>


    <!--===============================================================================================-->
    <script th:src="@{admin/addons/assets/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{admin/addons/assets/vendor/tilt/tilt.jquery.min.js}"></script>

    <!--===============================================================================================-->
    <script th:src="@{admin/addons/assets/js/main.js}"></script>
</div>